<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="https://d2bsvk2etkq8vr.cloudfront.net/pui-css/pui-components-18.0.0.css">
    <style>
        #root {
            padding: 20px;
        }
    </style>
</head>
<body>
<div id="root">
    <h3>Вход</h3>


    <form class="form" method="POST" th:action="@{/room}" th:object="${user}">
        <fieldset>
            <div>
                <div class="form-unit">
                    <div class="grid grid-nogutter label-row">
                        <div class="col"><label for="username">Username</label></div>
                        <div class="col col-fixed col-middle post-label"></div>
                    </div>
                    <div class="field-row"><input type="text" name="username" id="username" th:value="${name}" class=""/></div>
                    <div class="help-row type-gray"></div>
                </div>
                <div class="form-unit">
                    <div class="grid grid-nogutter label-row">
                        <div class="col"><label for="password">Password</label></div>
                        <div class="col col-fixed col-middle post-label"></div>
                    </div>
                    <div class="field-row"><input type="password" name="password" id="password" th:value="${password}" value="demo" class=""/></div>
                    <div class="help-row type-gray"></div>
                </div>
                <div class="grid">
                    <input type="submit" value="Войти"/>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>