<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<title>Example</title>
<style>
    table th, table td {padding: 5px;}
    .booked{background-color:  #D32F2F}
    .free{background-color: aliceblue}
</style>


<body>



    <div id = "root" >

        <form method="post"
            th:action = "@{/meetingRoom}"
            th:object = "${reservInfo}">

            <label> Начало </label>
            <select th:field = "*{startTime}">
                <option th:each="time : ${reservTimeList}" th:text = "${time}" th:value = "${time}">09:00</option>
            </select>

            <label> Конец </label>
            <select th:field = "*{stopTime}">
                <option th:each="time : ${reservTimeList}" th:text = "${time}" th:value = "${time}">09:00</option>
            </select>

            <input type="submit" value="Забронировать"/>

        </form>




    <table border="1">

        <thead>

            <tr >
                <th >Время</th>
                <th >Понедельник</th>
                <th >Вторник</th>
                <th >Среда</th>
                <th >Четверг</th>
                <th >Пятница</th>
                <th >Суббота</th>
                <th >Воскресенье</th>
            </tr >
        </thead>

        <tbody>
        <tr th:each = "reserve : ${reserveList}">
                <td th:text = "${reserve.key}"></td>
                <td th:each = "data : ${reserve.value}" th:class="${data.value} ? 'booked' : 'free'">
                    <p></p>
                </td>
            </tr>

        </tbody>
    </table>

    </div>
</body>
</html>