<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<title>Example</title>
<style>table th, table td {padding: 5px;}</style>


<body>




<table border="1">
    <tr >
        <th >Время</th>
        <th >Понедельник</th>
        <th >Вторник</th>
        <th >Среда</th>
        <th >Четверг</th>
        <th >Пятница</th>
        <th >Суббота</th>
        <th >Воскресенье</th>
    </tr >

    <tr th:each = "time : ${dateData}">

        <th th:text="${time}"></th>

        <th >1</th>
        <th >2</th>
        <th >3</th>
        <th >4</th>
        <th >5</th>
        <th >6</th>
        <th >7</th>

    </tr>

    <tbody>




    </tbody>
</table>


</body>
</html>